@model IEnumerable<ProductDto>


<table class="table caption-top mt-5  text-center mt-4">
    <caption><b>List of Products</b></caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">CategoryName</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
        <tr>
            <td>@product.Name</td>
            <td>@((product.Price).ToString("c"))</td>
            <td>@product.Description</td>
            <td>@product.CategoryName</td>
            <td>
                <a asp-action="DeleteProduct" asp-route-productId="@product.ProductId" class="btn btn-danger" data-toggle="tooltip"><i class="bi bi-trash">&#xE872;</i></a>
                <a asp-action="ProductEdit" asp-route-productId="@product.ProductId" class="btn btn-danger" data-toggle="tooltip"><i class="bi bi-trash">&#xE872;</i></a>

            </td>
        </tr>
        }
    </tbody>
</table>
<div class="col-6 text-end mt-4">
    <a asp-action="CreateProduct" class="btn btn-outline-primary"><i class="fa fa-plus-square m-2"></i>New Product</a>
</div>